.bold {
    font-weight: bold;
}

.Normal {
    font-weight: normal;
}
.Italic {
    font-style: italic;
}
.Uppercase
{
    text-transform: uppercase;
}
.Normal
{
    text-transform: none;
}
.Lowercase
{
    text-transform: lowercase;
}
/* .Normal{
    text-transform: none;
} */